<div class="col-md-12 mb-4">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-muted">Doctor Info</span>
    <span class="badge badge-secondary badge-pill">{{ doctor.title }}</span>
    </h4>
    <div>
        <div class="card">
          <img class="card-img-top" src="{{ doctor.image.url }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">
        {{ doctor.name }}
      </h5>
      <div class="mb-2">
        Specialties:
        {% for specialty in doctor.specialties.all %}
        <span class="badge {{specialty.badge_color}}">{{ specialty }}</span>
        {% endfor %}
      </div>
      <p class="card-text">{{ doctor.description }}</p>
    </div>
  </div>
    </div>

    {% if DISPLAY_COUPON_FORM %}
    <form class="card p-2" action="{% url 'core:add-coupon' %}" method="POST">
        {% csrf_token %}
        <div class="input-group">
            {{ couponform.code }}
            <div class="input-group-append">
            <button class="btn btn-secondary btn-md waves-effect m-0" type="submit">Redeem</button>
            </div>
        </div>
    </form>
    {% endif %}

</div>

