{% extends "base.html" %}

{% block content %}
  <main>
    <div class="container">

    <div class="table-responsive">
    <h2>Order Summary</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Doctor</th>
            <!-- <th scope="col">Booked Date</th> -->
            <th scope="col">Paid</th>
            <th scope="col">Examination Date</th>
            <th scope="col">Addresss</th>
            <th scope="col">Total</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
        <tr>
            <th class="align-middle" scope="row">{{ forloop.counter }}</th>
            <td class="align-middle">
              <div class="row">
                <img src={{booking.doctor.image.url}} style="width: 150px; height: 150px" class="rounded-circle img-thumbnail">
              </div>
              <a href="{{booking.doctor.get_absolute_url}}" target="_blank" class="text-info">
                {{ booking.doctor.name }}
              </a>
            </td>
            <!-- <td class="align-middle">{{ booking.booked_date }}</td> -->
            <td class="align-middle">
              {% if booking.payment_date %}
              <p class='text-success'>
              Paid
              </p>
              {% else %}
              <p class='text-warning'>
              Unpaid
              </p>
              {% endif %}
            </td>
            <td class="align-middle">
              {{ booking.examination_date }}
            </td>
            <td class="align-middle">
              {{ booking.address }}
            </td>
            <td class="align-middle">
              ${{ booking.total }}
            </td>
            <td class="align-middle">
              {% if not booking.payment_date %}
              <a class="btn btn-primary" target="_blank" href={{ booking.get_proceed_payment_url }}>Pay</a>
              {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan='5'>Your cart is empty</td>
        </tr>
        <tr>
            <td colspan="5">
            <a class='btn btn-primary float-right' href='/'>Continue shopping</a>
            </td>
        </tr>
        {% endfor %}
        {% if object.coupon %}
        <tr>
            <td colspan="4"><b>Coupon</b></td>
            <td><b>-${{ object.coupon.amount }}</b></td>
        </tr>
        {% endif %}
        {% if object.get_total %}
        <tr>
            <td colspan="4"><b>Order Total</b></td>
            <td><b>${{ object.get_total }}</b></td>
        </tr>
        <tr>
            <td colspan="5">
            <a class='btn btn-warning float-right ml-2' href='/checkout/'>Proceed to checkout</a>
            <a class='btn btn-primary float-right' href='/'>Continue shopping</a>
            </td>
        </tr>
        {% endif %}
        </tbody>
    </table>

    </div>

    </div>
  </main>

{% endblock content %}


